[Unit]
Description=Prometheus Alertmanager
After=network.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/alertmanager --config.file=/etc/prometheus/alertmanager.yml --storage.path=/var/lib/alertmanager
SyslogIdentifier=prometheus_alertmanager
Restart=always

[Install]
WantedBy=multi-user.target
