[Unit]
Description=Prometheus
After=network.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
PIDFile=/var/run/prometheus.pid
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus
SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
